body{
    background-image: url("https://t3.ftcdn.net/jpg/03/55/60/70/240_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg");
    background-position: 2000px;
    /*background-color: rgb(212, 170, 229);*/
}
label{
    font-size: 25px;
}
form{
    width:550px;
    height:800px;
    margin-left: 350px;
    padding:200px 50px 100px 100px;
}
.h1{
    font-weight: 800;
    font-family: Bradley Hand, cursive;
    font-variant: small-caps;
    text-align: center;
}
legend{
    font-size: 20px;
    font-style: italic;
    background-color: rgb(142, 246, 150);
} 

input[type="text"],input[type="password"],input[type="email"],input[type="date"],
input[type="number"],input[type="tel"]
{
    width: 300px;
    margin-bottom:15px;
    font-size: 1rem;
    box-sizing:border-box;
    box-shadow: rgb(6, 63, 65);
    margin-left:10px;
}

button{
    font-size:large;
    text-align:center;
    background-color: rgb(65, 167, 226);
    color:black;
    display: block;
    margin: auto;
}









